# More information about the configuration file can be found here:
# https://docs.aws.amazon.com/serverless-application-model/latest/developerguide/serverless-sam-cli-config.html
version = 0.1

[default]
[default.deploy]
[default.deploy.parameters]
stack_name = [YOURSTACKNAME]
region = "us-east-1"
capabilities = "CAPABILITY_IAM"
confirm_changeset = true
s3_bucket = [YOURWEBSITEBUCKETNAME.SAM] # Change the name of the S3 bucket you created to store your deployment configuration 
